<!-- Tým přívlače rok 2019 -->

<div class="row" id="tym-privlac-rok-2019">
    <div class="col-md-12">
        <h3 class="text-center text-uppercase">Tým přívlače Westin Czech Republic</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="text-muted">Loňský rok pro nás byl velice zajímavý a hlavně dlouhý. Navštívili jsme spoustu krásných a zajímavých destinací a míst.
            Mohl bych popisovat závod po závodu místo po místě. ale to by bylo moc dlouhé a nezajímavé. Jenom pro představu krátký souhrn všech závodů
            z loňské závodní sezóny:</p>
        <ul class="text-muted">
            <li>Sport Fishing World Games South Africa 2019</li>
            <li>Štěchovický pohár</li>
            <li>Holbina Trei Bibani 2019</li>
            <li>Lodní Liga 2019</li>
            <li>1. a 2. kolo ÚN Dalešice</li>
            <li>3. a 4. kolo Slapská přehrada</li>
            <li>IX. Mezinárodní mistrovství ČR přívlače z lodi</li>
            <li>Mistrovství ČR přívlače ze břehu Hracholusky 2019</li>
            <li>Lapland Pike 2019</li>
            <li>Garmin fishing league 2019</li>
            <li>DUO Pike a Perch PRO 2019</li>
        </ul>
    </div>
    <div class="col-md-6">
        <p class="text-muted image-right width-100">
            <img src="akce/tym-privlac-rok-2019/ms-2019-2.jpg"/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">Jak sami vidíte nebylo toho málo, ale našli jsme si s přítelkyní a s klukama z týmu i čas vyrazit jen tak na ryby,
            navštívit dětský rybářský tábor pořádaný naší organizací MO Vysočany, prozkoumat a zachytat si pro mě na neznámé Hněvkovické přehradě,
            kde v letošním roce proběhnou první dvě kola Lodní ligy - jeden z mnoha nominačních závodů na MS v USA 2021.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left">
            <img src="akce/tym-privlac-rok-2019/ms-2019-1.jpg"/>
        </p>
        <p class="text-muted">Tak abych se vrátil k loňské závodní sezóně. Sezóna to byla parádní, máme za sebou výborné úspěchy ale i zklamání. Například, když jsem na
            závodech na Slapské přehradě skončili na 4 místě pouze o jeden centimetr.</p>
        <p class="text-muted">Nejlepší, nejhezčí a nejzajímavější závod v loňském roce bylo MS v JAR. Chytali se pro nás neznámé ryby a to Black bass, Keříčkovec, Tilápie.
            I když se to zdálo nemožné, náš tým předvedl neuveřitelný výsledek. Jak bylo řečeno v ruské televizi český tým deklasoval svět na MS.
            Český národní tým si odvezl zlato v týmech a v jednotlivých posádkách zlato a stříbro. Co dodat, lepší už to nemohlo být.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/tym-privlac-rok-2019/lapland-3.jpg"/>
        </p>
        <p class="text-muted">Další zajímavý závod z lodě proběhl v deltě Dunaje pod názvem Holbina Trei Bibani 2019. Tento závod je ojedinělý, jedná se o závod v lovu štik.
            Štiky v závodě se zde z 90 procent chytají na povrchové nástrahy. Top nástrahou jsou umělé žáby. Je to neuvěřitelný pohled, když vidíte,
            jak si štika vezme vaši povrchovou nástrahu...</p>
        <p class="text-muted">Podobným, ale velice těžkým závodem je závod v Laponsku "Lapland Pike 2019". V tomto závodě se počítají štiky nad 70cm. Po dva dny jsme bojovali
            s nepřízní počasí a s nezájmem štik o naše nástrahy. Nakonec jsme ve světové konkurenci skončili s dvěma bodovanými štikami 103 a 93 cm
            na krásném 6 místě.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left">
            <img src="akce/tym-privlac-rok-2019/mi-CR-2.png"/>
        </p>
        <p class="text-muted">Přítelkyně Dášenka se již po několikáte zúčastnila Mistrovství ČR přívlače ze břehu. V předchozích letech se stala dvojnásobnou mistryní
            České republiky a po roční pauze opět na Hracholuské přehradě potvrdila svoji formu a nadání pro lov přívlačí a stala se vícemistryní ČR.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">O dalších závodech Vám napíši příště. Zatím malá ochutnávka ve fotografiích.</p>
        <p class="text-muted font-weight-bold text-right">Tomáš Jírovec člen MO Vysočany a závodního týmu Westin Czech republic</p>
    </div>
</div>
<div class="gallery-definition" data-directory="akce/tym-privlac-rok-2019/">
    <span>lapland-1.png</span>
    <span>lapland-2.jpg</span>
    <span>lapland-3.jpg</span>
    <span>lodni-liga-2019-1.jpg</span>
    <span>lodni-liga-2019-2.png</span>
    <span>mi-CR-1.png</span>
    <span>mi-CR-2.png</span>
    <span>mmi-CR-2019-1.png</span>
    <span>ms-2019-1.jpg</span>
    <span>ms-2019-2.jpg</span>
    <span>ms-2019-3.jpg</span>
    <span>ms-2019-4.jpg</span>
    <span>stechovicky-pohar-2019.jpg</span>
    <span>tabor-1.png</span>
    <span>tabor-2.png</span>
</div>