<div class="row" id="zahajeni-dyje-2018">
    <div class="col-lg-12">
        <h3 class="text-center">Pstruží zahájená - Dyje 2018</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="image-left">
            <img src="u-vody/zahajeni-dyje-2018/dyje7.preview.jpg" class="gallery-image"/>
        </p>
        <p class="text-muted">Rok se s rokem sešel a já zase vyrazil na pstruhovou vodu na moji oblíbenou řeku Dyji.
            Přípravy nebyly nijak velké. Navázal jsem mušky, zkontroloval prut a naviják a namotal novou šňůru. Samozřejmě jsem prohlídl i broďáky, aby mi do nich náhodou nenateklo.</p>
        <p class="text-muted">Den před zahájením, tedy 15.4., jsem vyrazil směr Znojmo, kde mám i rodinu, tak o spaní jsem se nemusel starat.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="image-right">
            <img src="u-vody/zahajeni-dyje-2018/dyje2.preview.jpg" class="gallery-image"/>
        </p>
        <p class="text-muted">Hned ráno okolo 6. hodiny jsem vyrazil. Od Znojma je to asi jen 15 minut jízdy autem. Zaparkoval jsem na místě co nejblíže řeky. Je tam národní park, tak zase moc blízko to nejde....asi 1km od řeky.</p>
        <p class="text-muted">Po ránu je řeka čarovná. Navázal jsem první mouchy a začal prohazovat vodu.</p>
        <p class="text-muted">První ryba na sebe nenechala dlouho čekat a tak první uspěchy byly už po pár minutách. Nebyly nijak zvlášť velké, ale 25 cm potěší. Navíc já si ryby neberu. Jsou tam většinou pstruzi potočáci a ty nechávám vodě.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="image-left">
            <img src="u-vody/zahajeni-dyje-2018/dyje3.preview.jpg" class="gallery-image"/>
        </p>
        <p class="text-muted">Asi po dvou hodinách na jednom místě jsem vytáhl 12 kousků a dal jsem si pauzu na občerstvení, které jsem si vzal s sebou. Pstruzi přestali brát a já se koukal po okolí a sledoval jiné rybáře.</p>
        <p class="text-muted">Pár fotek je určitě ke koukání.</p>
    </div>
</div>
<div class="gallery-group hidden">
    <div class="row">
        <div class="col-lg-12">
            <p class="image-left image-row">
                <img data-src="u-vody/zahajeni-dyje-2018/dyje7.preview.jpg" class="gallery-image"/>
            </p>
            <p class="image-left image-row">
                <img data-src="u-vody/zahajeni-dyje-2018/dyje2.preview.jpg" class="gallery-image"/>
            </p>
            <p class="image-left image-row">
                <img data-src="u-vody/zahajeni-dyje-2018/dyje3.preview.jpg" class="gallery-image"/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="image-left image-row">
                <img data-src="u-vody/zahajeni-dyje-2018/dyje4.preview.jpg" class="gallery-image"/>
            </p>
            <p class="image-left image-row">
                <img data-src="u-vody/zahajeni-dyje-2018/dyje5.preview.jpg" class="gallery-image"/>
            </p>
            <p class="image-left image-row">
                <img data-src="u-vody/zahajeni-dyje-2018/dyje6.preview.jpg" class="gallery-image"/>
            </p>
        </div>
    </div>
</div>