<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center">Informační oběžník pro rok 2021</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="text-muted">
            Každý rok je něco nové a proto ke každému soupisu dostanete i informační oběžník pro rok 2021. Ten obsahuje nejdůlěžitější informace naší organizace
            pro tento rok. Těmi jsou ZRUŠENÍ členské schůze, termín konání rybářských závodů i letního dětského tábora. Ale také výše poplatků, které si určují sami
            organizace. Oběžník je ke stažení i <a href="provozni-informace/rybari-Vysocany-obeznik-2021.pdf">zde</a>.</p>
    </div>
</div>
