<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center">Ceny povolenek a dalších poplatků pro rok 2018</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="text-muted">Ceny roční povolenek a dalších poplatků pro tento jsou uvedeny níže. Na stránkách <a
                href="http://www.rybaripraha.cz/obsah/ceny-povolenek" target="_blank">Územního svazu</a> jsou uvedeny i ceny městských a celosvazových
            povolenek s kratší dobou platnosti a ceny pro <span class="font-weight-bold">nečleny a cizince</span>. Případně, pokud chcete za hranice
            města, tak na stránkých <a href="https://www.rybsvaz.cz/?page=ceny_povolenek%2Fceny_povolenek&lang=cz&web_menu_id=9" target="_blank">ČRS</a>
            jsou ceny povolenek i pro další územní svazy a ceny pro <span class="font-weight-bold">nečleny a cizince</span>.</p>
        <h5 class="text-center">Seznam jednotlivých poplatků</h5>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-right">dospělý</th>
                    <th scope="col" class="text-right">mládež</th>
                    <th scope="col" class="text-right">děti</th>
                    <th scope="col" class="text-right">ZTP</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">územní mimopstruhová</th>
                    <td class="text-right text-nowrap">1100 Kč</td>
                    <td class="text-right text-nowrap">500 Kč</td>
                    <td class="text-right text-nowrap">300 Kč</td>
                    <td class="text-right text-nowrap">500 Kč</td>
                </tr>
                <tr>
                    <th scope="row">územní pstruhová</th>
                    <td class="text-right text-nowrap">1100 Kč</td>
                    <td class="text-right text-nowrap">500 Kč</td>
                    <td class="text-right text-nowrap">300 Kč</td>
                    <td class="text-right text-nowrap">500 Kč</td>
                </tr>
                <tr>
                    <th scope="row">středočeská mimopstruhová</th>
                    <td class="text-right text-nowrap">1200 Kč</td>
                    <td class="text-right text-nowrap">850 Kč</td>
                    <td class="text-right text-nowrap">400 Kč</td>
                    <td class="text-right text-nowrap">850 Kč</td>
                </tr>
                <tr>
                    <th scope="row">středočeská pstruhová</th>
                    <td class="text-right text-nowrap">1200 Kč</td>
                    <td class="text-right text-nowrap">850 Kč</td>
                    <td class="text-right text-nowrap">400 Kč</td>
                    <td class="text-right text-nowrap">850 Kč</td>
                </tr>
                <tr>
                    <th scope="row">celosvazová mimopstruhová</th>
                    <td class="text-right text-nowrap">2100 Kč</td>
                    <td class="text-right text-nowrap">1400 Kč</td>
                    <td class="text-right text-nowrap">700 Kč</td>
                    <td class="text-right text-nowrap">1400 Kč</td>
                </tr>
                <tr>
                    <th scope="row">celosvazová pstruhová</th>
                    <td class="text-right text-nowrap">2150 Kč</td>
                    <td class="text-right text-nowrap">1450 Kč</td>
                    <td class="text-right text-nowrap">750 Kč</td>
                    <td class="text-right text-nowrap">1450 Kč</td>
                </tr>
                <tr>
                    <th scope="row">celorepubliková mimopstruhová</th>
                    <td class="text-right text-nowrap">3150 Kč</td>
                    <td class="text-right text-nowrap">- Kč</td>
                    <td class="text-right text-nowrap">- Kč</td>
                    <td class="text-right text-nowrap">- Kč</td>
                </tr>
                <tr>
                    <th scope="row">celorepubliková pstruhová</th>
                    <td class="text-right text-nowrap">3250 Kč</td>
                    <td class="text-right text-nowrap">- Kč</td>
                    <td class="text-right text-nowrap">- Kč</td>
                    <td class="text-right text-nowrap">- Kč</td>
                </tr>
                <tr>
                    <th scope="row">členství</th>
                    <td class="text-right text-nowrap">500 Kč</td>
                    <td class="text-right text-nowrap">200 Kč</td>
                    <td class="text-right text-nowrap">100 Kč</td>
                    <td class="text-right text-nowrap">500 Kč</td>
                </tr>
                <tr>
                    <th scope="row">brigády</th>
                    <td class="text-right text-nowrap">500 Kč</td>
                    <td class="text-right text-nowrap">200 Kč</td>
                    <td class="text-right text-nowrap">0 Kč</td>
                    <td class="text-right text-nowrap">0 Kč</td>
                </tr>
                <tr>
                    <th scope="row">zápisné</th>
                    <td class="text-right text-nowrap">500 Kč</td>
                    <td class="text-right text-nowrap">500 Kč</td>
                    <td class="text-right text-nowrap">100 Kč</td>
                    <td class="text-right text-nowrap">500 Kč</td>
                </tr>
                </tbody>
            </table>
            <p class="text-muted font-italic">Pozn. ženy a důchodci brigády neplatí. U důchodců platí, že musí prokázat pobírání důchodu.</p>
        </div>
    </div>
</div>
