        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Rybářské závody - kapacita naplněna</h3>
              <p class="text-muted"><span class="font-italic">7.5.2018 14:42 - </span>Pro velký zájem se nám podařilo vyjednat navýšení kapacity závodu o dvě místa. A jak jsme předpokládali, ihned se tato místa naplnila. Pro tuto chvíli je tady kapacita závodu naplněna. Další registrovaní budou vedeni jako náhradníci. Více se dozvíte na stránce <a href="akce.html#memorial-emila-jichy-prvni-rocnik-12-05-2018">s akcemi</a>.</p>
          </div>
        </div>