        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Tábor - už toho máme dost!!!</h3>
              <p class="text-muted"><span class="font-italic">28.5.2018 23:01 - </span>Letošní letní rybářský tábor se těší nebývalému zájmu a již nyní evidujeme více než 50 přihlášek. Váš zájem nás těší, ale bohužel se nedostane na každého.</p>
              <p class="text-muted">Během následujícího týdne budou rodiče informováni, zda byl jejich potomek přijat na tábor nebo se již bohužel do kapacity tábora nevešel.</p>
          </div>
        </div>