        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Otevírací doba a prodej povolenek</h3>
              <p class="text-muted"><span class="font-italic">17.1.2019 18:25 - </span>Rok se s rokem sešel a nastal závěrečný čas na výběr povolenek a případně prodej povolenek na letošní sezónu.<br/>
                  Proto měníme otevírací dobu, nově máme otevřeno každou středu a čtvrtek od 17h do 20h.<br/>
                  A mimořádně máme otevřeno i v sobotu 19.1. a to od 12h do 16h.</p>
          </div>
        </div>