        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Otevírací doba</h3>
              <p class="text-muted">
                  <span class="font-italic">1.2.2019 8:04 - </span>
                  Výběr povolenek je zdárně za námi, prvotní nápor vydávání nových je také minulostí.<br/>
                  Proto se vracíme zpět k běžné otevírací době, tj. od února bude otevřeno vždy ve středu od 17 do 19 hodin.
              </p>
          </div>
        </div>