        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Otevírací doba pro výběr povolenek</h3>
              <p class="text-muted"><span class="font-italic">1.12.2019 06:32 - </span>Zima už klepe na dveře, blíží se nám konec roku a s tím i čas, kdy končí platnost letošních povolenek.
                  Abychom urychlili jejich výběr a prodej povolenek na další rok, upravili jsme otevírací dobu.
                  <span class="font-weight-bold">V prosinci a lednu</span> tu budeme <span class="font-weight-bold">ve středu a čtvrtek</span> v době <span class="font-weight-bold">od 17 do 20 hodin</span>.</p>
          </div>
        </div>