        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Rybářské závody</h3>
              <p class="text-muted"><span class="font-italic">3.5.2019 8:00 - </span><span class="font-weight-bold">A ZASE TY ZÁVODY!</span> Po loňském prvním ročníku Memoriálu Emila Jíchy se bude letos konat jeho druhý ročník. Místem konání bude opět soukromý revír Hruškov u Stříbrné Skalice. Více se dozvíte na stránce <a href="akce.html#memorial-emila-jichy-druhy-rocnik-01-06-2019">s akcemi</a>.</p>
          </div>
        </div>