        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Informační oběžník pro rok 2020</h3>
              <p class="text-muted"><span class="font-italic">3.1.2020 15:26 - </span>Každý rok je něco nové a proto ke každému soupisu dostanete i informační oběžník pro rok 2020. Ten obsahuje nejdůlěžitější informace naší organizace
                  pro tento rok. Těmi jsou termíny konání členské schůze, rybářských závodů i letního dětského tábora. Ale také výše poplatků, které si určují sami
                  organizace. Oběžník je ke stažení i <a href="provozni-informace/rybari-Vysocany-obeznik-2020.pdf">zde</a>.</p>
          </div>
        </div>