        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Třetí ročník Memoriálu Emila Jíchy - ZMĚNA TERMÍNU</h3>
              <p class="text-muted"><span class="font-italic">29.2.2020 14:57 - </span><span class="font-weight-bold">POZOR ZMĚNA!</span> Z organizačních důvodů se byl změněn termín Memoriálu Emila Jíchy, a to na konec června. Závody budou od 27.června do 28.června. Více se dozvíte na stránce <a href="akce.html#memorial-emila-jichy-treti-rocnik-27-06-2020">s akcemi</a>.</p>
          </div>
        </div>