        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Třetí ročník Memoriálu Emila Jíchy - KAPACITA SE PLNÍ</h3>
              <p class="text-muted"><span class="font-italic">11.5.2020 22:45 - </span>Času zbývá relativně hodně, ale míst už jen pár.
                  Dosud je přihlášeno 28 závodníků a kapacita závodu je 30. Proto s registrací neváhejte. Náhradníky budeme registrovat pouze dva.
                  Více se dozvíte na stránce <a href="akce.html#memorial-emila-jichy-treti-rocnik-27-06-2020">s akcemi</a>.</p>
          </div>
        </div>