        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Třetí ročník Memoriálu Emila Jíchy - REGISTRACE ZAHÁJENA</h3>
              <p class="text-muted"><span class="font-italic">28.4.2020 07:56 - </span><span class="font-weight-bold">REGISTRACE ZAHÁJENA!</span> Termín Memoriálu Emila Jíchy se už blíží a tak zahajujeme registraci k závodu. Registrací je myšleno zaslání startového na účet naší organizace. Více se dozvíte na stránce <a href="akce.html#memorial-emila-jichy-treti-rocnik-27-06-2020">s akcemi</a>.</p>
          </div>
        </div>