<div class="row">
    <div class="col-md-12">
        <h3 class="text-center text-uppercase">Kapří rybářské závody</h3>
        <p class="text-muted"><span class="font-italic">7.2.2022 18:24 - </span>Letos máme jubilejní pátý ročník <b>Memoriálu Emila Jíchy</b>. Předchozí ročníky se
            vždy konaly v první polovině roku. Letos se posuneme do druhé půlky roku. Memoriál se bude konat <b>od 2. do 4. září</b>, opět na Hruškově. Bližší informace
            a registrace budeme průběžně zveřejňovat.</p>
    </div>
</div>