        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Mimořádný výběr a prodej povolenek</h3>
              <p class="text-muted"><span class="font-italic">7.1.2022 07:59 - </span>Blíží se termín, kdo kdy mají být odevzdány povolenky za rok 2021.<br/>
                  A proto budeme mít otevřeno, kromě standardní otevírací doby (středa a čtvrtek od 17h do 20h), i v <b>sobotu 15.1.</b> a to <b>od 9h do 13h</b>.</p>
          </div>
        </div>