<div class="row">
    <div class="col-md-12">
        <h3 class="text-center text-uppercase">Členská schůze</h3>
        <p class="text-muted"><span class="font-italic">7.2.2022 18:17 - </span>Snad nám situace dovolí a po třech letech uspořádáme členskou schůzi. V
            předchozích dvou letech musela být zrušena. Letos se členská schůze bude konat <b>21. března od 18:00</b>. Místem konání ovšem bude <b>přízemí u naší
                klubovny</b>, tj. na adrese <b>Teplická 494, Praha 9 - Střížkov</b>. Všichni jste srdečně zváni.</p>
    </div>
</div>