        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Pořádáme dětský den</h3>
              <p class="text-muted"><span class="font-italic">7.2.2022 18:17 - </span>Naše organizace pravidelně pořádá dětský rybářský. Ani letos by to nemělo být výjimkou, termín letošního dětského dne je <b>sobota 21. května</b>. Nejpravděpodobnějším místem konání je malý Kyjský rybník.
                  Bližší informace budeme průběžně zvěřejňovat.</p>
          </div>
        </div>