        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Rybářské závody</h3>
              <p class="text-muted"><span class="font-italic">4.3.2018 13:12 - </span><span class="font-weight-bold">ZÁVODY BUDOU!</span> A budou trochu jiné a věříme, že atraktivnější. Budou se konat na soukromém revíru Hruškov u Stříbrné Skalice. Více se dozvíte na stránce <a href="akce.html#memorial-emila-jichy-prvni-rocnik-12-05-2018">s akcemi</a>.</p>
          </div>
        </div>