        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center text-uppercase">Výběr povolenek</h3>
            <p class="text-muted"><span class="font-italic">2.1.2018 16:48 - </span>Nastal konec roku a tedy i povinnost vrátit povolenku za minulý rok. Jelikož je na vrácení poměrně krátká doba, upravili jsme pro měsíc leden otevírací dobu. Otevřeno máme <span class="font-weight-bold">každou středu a čtvrtek od 17 do 20 hodin</span>.</p>
            <p class="text-muted">Pracovní týden je někdy hektický a tak budeme mít otevřeno i o víkendu, konkrétně <span class="font-weight-bold">6.ledna od 12 do 16 hodin</span> a <span class="font-weight-bold">13.ledna od 13 do 15 hodin</span>.</p>
          </div>
        </div>