<!-- Memorial Emila Jíchy - 1.ročník -->

<div class="row" id="memorial-emila-jichy-prvni-rocnik-12-05-2018">
    <div class="col-md-12">
        <h3 class="text-center text-uppercase">Memoriál Emila Jíchy - 1.ročník</h3>
        <p class="text-muted image-right">
            <img src="img/masthead/fishing-rod-2853585_1920.jpg"/>
        </p>

        <p class="text-muted">V posledních letech se nám nepodařilo uspořádat tradiční závody naší organizace. Letos se ovšem máte na co těšit.
            Na počest dlouholetého člena naší organizace a v posledních letech i jejího předsedy, jsme se letos rozhodli uspořádat Memoriál Emila Jíchy.</p>
        <p class="text-muted">Bude se jednat o kaprařské závody, čudlaři asi moc díru do světa neudělají. O umístění rozhodne součet třech nejtěžších ryb
            ulovených závodníkem.
            Započítatelné ryby jsou jen kapr a amur a to s váhou minimálně 5kg. Na lov budete mít dostatek času, samotný závod je počítán na 24 hodin.
            Neznamená to ovšem, že nutné musíte své udice máčet po celou dobu, vyhrát může i ten, kdo během hodinky vytáhne tři šestnácky (myšleno 16kg
            ryby)!</p>
        <p class="text-muted">Určitě si nezapomeňte přečíst <a
                href="akce/memorial-emila-jichy-prvni-rocnik-12-05-2018/Pravidla%20kaprařských%20závodů%20MO%20Vysočany%2012.5.2018%20-%20HRUŠKOV.pdf" target="_blank">kompletní pravidla
            závodů</a>, aby vás něco nezaskočilo.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Kde</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">Místem konání bude soukromý revír <span class="font-weight-bold"><a href="http://www.hruskov.cz" target="_blank">Hruškov</a> u Stříbrné Skalice</span>.
            Tento revír možná některí z vás znají ještě z doby, kdy patřil do svazových vod.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Kdy</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="text-muted">
            <li><span class="font-weight-bold">pátek 11. května</span> - příjezd na místo od 16:00; od 19:00 seznamovací přípitek
                (u kiosku); mimozávodní rybolov na vyhrazené části rybníka bude za dodržení
                místních pravidel umožněn – účast dobrovolná!
            </li>
            <li><span class="font-weight-bold">sobota 12. května</span> - 9:00 prezentace (u kiosku), 9:15 losování chytacích míst, 11:00
                start závodu
            </li>
            <li><span class="font-weight-bold">neděle 13. května</span> - ukončení soutěže v 11:00, předání cen kolem 12:00, rozloučení se
                závodníky, další rybolov na vyhrazené části rybníka bude umožněn až do 20:00
            </li>
        </ul>

        <p class="text-muted">Jelikož se jedná o atraktivní závod a po zkušenostech ze zájezdů, jsme se rozhodli pro závaznou registraci. Registrace začíná
            1.4.2018 a spočívá v zaplacení registračního poplatku na náš účet.
            Naši členové mají tento poplatek stanoven na 200 Kč, ostatní 400 Kč. S registrací neváhejte, ikdyž máme rezervovaný celý revír, počet míst je omezen
            na 32 závodníků.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Registrace - kapacita závodu je již naplněna</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 align-middle" style="display: flex; align-items: center; justify-content: center;">
        <p class="text-muted">
            <span class="font-weight-bold">účet:</span> <span class="font-weight-bold">245997339/0800</span> <span class="font-italic">(Česká Spořitelna)</span><br/>
            <span class="font-weight-bold">popis platby:</span> uveďte <span class="font-weight-bold">vaše celé jméno a příjmení</span><br/>
            <span class="font-weight-bold">variabilní symbol:</span> uveďte <span class="font-weight-bold">telefonický kontakt závodníka</span>
            <span class="font-italic"> (telefon bude využit jen v případě naplnění plné kapacity závodu).</span>
        </p>
    </div>
    <div class="col-md-6">
        <p class="text-muted text-center">
            <img src="akce/memorial-emila-jichy-prvni-rocnik-12-05-2018/QR_platba_Hruskov12052018-200.png" alt="QR platba 200Kč" style="max-height: 200px;"/>
        </p>
        <p class="text-muted text-center font-weight-bold">
            dopiště vaše jméno a telefonní číslo.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Registrační listina</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">Průběžně zde budou zveřejňováni jména registrovaných závodníků a případných náhradníků. O pořadí rozhoduje datum datum připsaní registračního poplatku na účet organizace.</p>
        <p class="text-muted">Registrovaní závodníci:</p>
        <ol class="text-muted three-columns">
            <li>Hejný Josef (1.4.2018)</li>
            <!-- Standa odhlasil <li>Mačák Ondřej (1.4.2018)</li> -->
            <li>Procházka Martin (1.4.2018)</li>
            <li>Neumann Vladimír (1.4.2018)</li>
            <li>Kraus Daniel (1.4.2018)</li>
            <li>Dobrý Stanislav (1.4.2018)</li>
            <li>Karpíšek Jan (1.4.2018)</li>
            <li>Duba Stanislav (1.4.2018)</li>
            <li>Novák Aleš (4.4.2018)</li>
            <li>Marek František (4.4.2018)</li>
            <li>Novák Luboš (4.4.2018)</li>
            <li>Harouš Pavel (4.4.2018)</li>
            <li>Jakubův Petr (4.4.2018)</li>
            <li>Jírovec Stanislav (4.4.2018)</li>
            <li>Jírovec Jakub (4.4.2018)</li>
            <li>Jiřík Miroslav (4.4.2018)</li>
            <li>Vyškovský Martin (4.4.2018)</li>
            <li>Pučelík Rudolf (4.4.2018)</li>
            <li>Pučelík Tomáš (4.4.2018)</li>
            <li>Špišák Dušan ml. (9.4.2018)</li>
            <li>Špišák Dušan st. (9.4.2018)</li>
            <li>Bašus Jiří (9.4.2018)</li>
            <li>Jakubův Josef (20.4.2018)</li>
            <li>Křenecký Lukáš (25.4.2018)</li>
            <li>Neumann Pavel (30.4.2018)</li>
            <li>Štycha Marián (2.5.2018)</li>
            <li>Šmiták Matěj (2.5.2018)</li>
            <li>Debnar Jan (7.5.2018)</li>
            <li>Suchánek Vladimír (7.5.2018)</li>
            <li>Deček Antonín (7.5.2018)</li>
            <li>Kuboví Vladimír (7.5.2018)</li>
            <li>Deček Milan (7.5.2018)</li>
            <li>Vrbenský Jakub (7.5.2018)</li>
        </ol>
        <!--
        <p class="text-muted">Náhradníci:</p>
        <ol class="text-muted">
            <li></li>
        </ol>
        <p>&nbsp;</p>-->
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h4>O co hrajem</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left width-25">
            <img src="akce/memorial-emila-jichy-prvni-rocnik-12-05-2018/pohary.jpg" alt="Poháry"/>
        </p>
        <p class="text-muted">Přeci jen se jedná o závod a tak by měl mít i nějaké odměny. Podle uvedených pravidel bude stanoveno pořadí s pětice
            nejúspěšnějších se může těšit na následující ceny</p>
        <p class="text-muted text-center">
            1. místo <span class="font-weight-bold"> 5000 Kč + pohár</span><br/>
            2. místo <span class="font-weight-bold"> 3000 Kč + pohár</span><br/>
            3. místo <span class="font-weight-bold"> 2000 Kč + pohár</span><br/>
            4. místo <span class="font-weight-bold"> 1000 Kč</span><br/>
            5. místo <span class="font-weight-bold">  500 Kč</span><br/>
        </p>
    </div>
</div>