<!-- Memorial Emila Jíchy - 2.ročník - výsledky -->

<div class="row" id="memorial-emila-jichy-druhy-rocnik-01-06-2019-vysledky">
    <div class="col-md-12">
        <h3 class="text-center text-uppercase">Memoriál Emila Jíchy - 2.ročník - výsledky</h3>
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-druhy-rocnik-01-06-2019-vysledky/IMG_20190601_091213.jpg"/>
        </p>
        <p class="text-muted">V červnu se konal druhý ročník Memoriálu Emila Jíchy. Stejně jako předchozí první ročník se i tento konal na soukromém revíru
            Hruškov u Stříbrné Skalice. Oproti předchozímu roku se mírně upravila pravidla - lov byl povolen jen na boilie a pelety. Partikl byl povolen jen na krmení.
            Stejně jako loni se bodoval jen kapr a amur přesahující váhu 5 kg, započteny byly tři nejtěžší ryby.
            Pro zatraktivnění došlo k navýšení odměn pro prvních pět nejlepších lovců, první umístěný si odvezl pohár a odměnu 10000 Kč. Další v pořadí 5000 Kč,
            3000 Kč, 2000 Kč a 1000 Kč.</p>
        <p class="text-muted">Samotnému závodu předcházel již tradiční "seznamovací" večer. Většina závodníků dorazila již v pátek odpoledne nebo navečer. Kdo chtěl,
            nahodil si, kdo ne, šel s kolegy probrat zítřejší taktiku. V 9 hodin ráno se konala prezence a 15 minut po 9 hodině se začaly losovat lovná místa.
            Postupně začala mizet jednotlivá místa z losovacího osudí, pořadí losování bylo určeno tím, jak se soutězící nahlásili po příjezdu. Celkem se na břehu
            rybníka sešlo 19 závodníků. Úderem 10.hodiny nastal čas krmení, myšleno krmení ryb ne samotných závodníků.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>11:00 PRUTY DO RUKY, ZAČÍNÁME</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-druhy-rocnik-01-06-2019-vysledky/IMG-20190603-WA0000.jpg"/>
        </p>
        <p class="text-muted">Odstartováno, montáže s nástrahami letí do vody. Ještě poštelovat hlásiče, nasadit čihátka a je připraveno. Teď je řada na rybách.
            Oproti loňsku, letošní počasí nabízí slunce a jen slunce. Žádné děšťové kapky neočekáváme a proto to vypadá, že hlavní závod začne až v noci.</p>
        <p class="text-muted">Opak by pravdou, ryby začaly spolupracovat již odpoledne, což byl oproti loňsku výrazný rozdíl. První kapříci se na podložky závodníků
            podívaly okolo 4.hodiny odpolední. Letos nebude muset ředitel závodu zvažovat, zda 5 kilový limit pro bodovanou rybu není příliš.</p>
        <p class="text-muted">Většina ryb bere v prostředním sektoru, ale i ostatní dva sektory mají svá želízka v ohni. Na zadní louce za potokem se v rychlém
            sledu chytají dva kapříci lehce nad 5 kilo a jeden, který překonává hranici 8 kilo. Ovšem prostřední sektor hraje opět prim, ryby tu berou jak smyslu zbavené.
            A nejedná se o nějaké "plotičky", ryby atakují 10 kilovou hranici a nejtěžší překonává 14 kilo. Že by se rodil celkový vítěz? Uvidíme...</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Noc plná zázraků - letos se nekonala</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-druhy-rocnik-01-06-2019-vysledky/IMG-20190604-WA0000.jpg"/>
        </p>
        <p class="text-muted">Letošní noc nebyla zdaleka tak pestrá jako loni. Několik ryb se sice na břeh podívalo, ale oproti odpoledni žádná sláva. Za zmínku
            ale stojí zatím nějtěžsí kapr závodu, krásných 17,4 kilo. A nutno dodat, že tentokrát se zadařilo v prvním sektoru. Tak snad se i na zadní louce dočkají
            dočkají nějakého podobného úlovku.</p>
        <p class="text-muted">Ráno po rozednění je už spíše vlažné. Zdá se, že o vítězi je již rozhodnuto z předešlého dne a hraje se o další pořadí. Ale kdo ví...</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>11:00 KONEC, ŠMITEC</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-druhy-rocnik-01-06-2019-vysledky/IMG_20190602_112940.jpg"/>
        </p>
        <p class="text-muted">Udice ven, závod skončil. Rozhodčí začínají sčítat úlovky. Letos to mají o něco náročnější, bodovaných ryb se chytilo více. I přes
            větší aktivitu ryb najdeme několik prázdných bodovacích lístků. Někdo tady má opravdu smůlu!</p>
        <p class="text-muted">Sečteno, podtrženo! Body jsou sečteny, ještě se čeká na poslední závodníky, až se přesunou na místo vyhlášení. První tři závodníci
            si odnesou poháry a prvních pět ještě finanční dary o celkové hodnotě 21000 Kč. Na pátem místě se umístil pan Pučelík s celkovým skóre 15,6 kg. Na
            čtvrtém místě se umístil pan Váňa s úlovky o váze 23,44 kg. Následují stupně vítězů. Třetí místo patří Pavlu Haroušovi za dvě bodované ryby o celkové váze
            26,6 kg. Druhý se umístil pan Mazanec se třemi ulovky o celkové váze 32,03 kg. Vítězem se stal Martin Procházka, jehož tři nějtěžší úlovky vážili 33,84 kg.</p>
        <p class="text-muted">Všem oceněným gratulujeme a ostatním děkujeme za účast a těšíme se viděnou příští rok. Kdo ještě nemá rybaření a nespěchá domů, může si ještě nahodit, zavláčet...</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Ještě závěrečné foto a na viděnou příští rok</h4>
        <p class="text-muted image-left width-100">
            <img src="akce/memorial-emila-jichy-druhy-rocnik-01-06-2019-vysledky/IMG_20190602_114249.jpg"/>
        </p>
    </div>
</div>
<div class="gallery-definition" data-directory="akce/memorial-emila-jichy-druhy-rocnik-01-06-2019-vysledky/">
    <span>IMG-20190603-WA0000.jpg</span>
    <span>IMG-20190603-WA0002.jpg</span>
    <span>IMG-20190603-WA0003.jpg</span>
    <span>IMG-20190603-WA0004.jpg</span>
    <span>IMG-20190603-WA0005.jpg</span>
    <span>IMG-20190603-WA0006.jpg</span>
    <span>IMG-20190603-WA0007.jpg</span>
    <span>IMG-20190603-WA0008.jpg</span>
    <span>IMG-20190603-WA0009.jpg</span>
    <span>IMG-20190603-WA0010.jpg</span>
    <span>IMG-20190603-WA0011.jpg</span>
    <span>IMG-20190603-WA0012.jpg</span>
    <span>IMG-20190604-WA0000.jpg</span>
    <span>IMG-20190604-WA0001.jpg</span>
    <span>IMG_20190601_091213.jpg</span>
    <span>IMG_20190601_151552.jpg</span>
    <span>IMG_20190601_174900.jpg</span>
    <span>IMG_20190602_112931.jpg</span>
    <span>IMG_20190602_112940.jpg</span>
    <span>IMG_20190602_113924.jpg</span>
    <span>IMG_20190602_113945.jpg</span>
    <span>IMG_20190602_114005.jpg</span>
    <span>IMG_20190602_114008.jpg</span>
    <span>IMG_20190602_114249.jpg</span>
</div>