<!-- Memorial Emila Jíchy - 3.ročník -->

<div class="row" id="memorial-emila-jichy-treti-rocnik-27-06-2020">
    <div class="col-md-12">
        <h3 class="text-center text-uppercase">Memoriál Emila Jíchy - 3.ročník</h3>
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020/IMG_20190825_063355.jpg"/>
        </p>

        <p class="text-muted">Memoriál Emila Jíchy se stal již tradiční akcí naší organizace. Předchozí dva ročníky ukázaly, že ani soukromý revír není zárukou,
            že si každý zachytá. Důležité je neusnout na vavřínech a ladit taktiku po celou dobu závodu. Někdy člověk potřebuje i trochu toho štěstí.
            Stačí jedna úspěšná hodina a vše může být jinak. Memoriál je výhradně kaprařským závodem, čudlaři asi moc díru do světa neudělají.
            Na lov budete mít dostatek času, samotný závod je počítán na 24 hodin.</p>
        <p class="text-muted">Pravidla ještě upřesníme, nějaký ten čas na to ještě máme. Ale nebudou se příliš lišit od předchozích ročníků.
            Proto sledujte naše stránky, případně Facebook, informace budeme průběžně přidávat.</p>
        <p class="text-muted">Určitě si nezapomeňte přečíst <a
                href="akce/memorial-emila-jichy-treti-rocnik-27-06-2020/Pravidla%20kaprařských%20závodů%20MO%20Vysočany%2028.6.2020%20-%20HRUŠKOV.pdf"
                target="_blank">kompletní pravidla závodů</a>, aby vás něco nezaskočilo.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Kde</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">Místem konání bude soukromý revír <span class="font-weight-bold"><a href="http://www.hruskov.cz" target="_blank">Hruškov</a> u Stříbrné Skalice</span>.
            Tento revír možná někteří z vás znají ještě z doby, kdy patřil do svazových vod.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Kdy</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="text-muted">
            <li><span class="font-weight-bold">pátek 26. června</span> - příjezd na místo od 16:00; od 19:00 seznamovací přípitek
                (u kiosku); mimozávodní rybolov na vyhrazené části rybníka bude za dodržení
                místních pravidel umožněn – účast dobrovolná!
            </li>
            <li><span class="font-weight-bold">sobota 27. června</span> - 9:00 prezentace (u kiosku), 9:15 losování chytacích míst, 11:00
                start závodu
            </li>
            <li><span class="font-weight-bold">neděle 28. června</span> - ukončení soutěže v 11:00, předání cen kolem 12:00, rozloučení se
                závodníky, další rybolov na vyhrazené části rybníka bude umožněn až do 20:00
            </li>
        </ul>

        <p class="text-muted">Stejně jako tomu bylo u druhého ročníků, i pro tento ročník bude nutná závazná rezervace. Termín zahájení registrace také ještě upřesníme,
            ale termín závodu si do kalendáře zapište už nyní.</p>
        <p class="text-muted">Jelikož se jedná o atraktivní závod a po zkušenostech ze zájezdů, jsme se rozhodli pro závaznou registraci. Registrace začíná
            22.4.2020 a spočívá v zaplacení registračního poplatku na náš účet.
            Naši členové mají tento poplatek stanoven na 500 Kč, ostatní 1000 Kč. S registrací neváhejte, ikdyž máme rezervovaný celý revír, počet míst je omezen
            na 30 závodníků.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Registrace <!-- - kapacita závodu je již naplněna--></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6 align-middle" style="display: flex; align-items: center; justify-content: center;">
        <p class="text-muted">
            <span class="font-weight-bold">účet:</span> <span class="font-weight-bold">245997339/0800</span> <span class="font-italic">(Česká Spořitelna)</span><br/>
            <span class="font-weight-bold">popis platby:</span> uveďte <span class="font-weight-bold">vaše celé jméno a příjmení</span><br/>
            <span class="font-weight-bold">variabilní symbol:</span> uveďte <span class="font-weight-bold">telefonický kontakt závodníka</span>
            <span class="font-italic"> (telefon bude využit jen v případě naplnění plné kapacity závodu).</span>
        </p>
    </div>
    <div class="col-md-6">
        <p class="text-muted text-center">
            <img alt="QR platba 500Kč" src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020/QR_platba_Hruskov27062020-500.png" style="max-height: 200px;"/>
        </p>
        <p class="text-muted text-center font-weight-bold">
            dopiště vaše jméno a telefonní číslo.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Registrační listina</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">Průběžně zde budou zveřejňováni jména registrovaných závodníků a případných náhradníků. O pořadí rozhoduje datum datum připsaní
            registračního poplatku na účet organizace.</p>
        <p class="text-muted">Registrovaní závodníci:</p>
        <ol class="text-muted three-columns">
            <!--<li>dosud není nikdo přihlášen</li>-->
            <li>Spišák Dušan (22.4.2020)</li>
            <li>Partman Pavel (22.4.2020)</li>
            <li>Harouš Pavel (22.4.2020)</li>
            <li>Vrbenský Jakub (22.4.2020)</li>
            <li>Procházka Martin (22.4.2020)</li>
            <li>Váňa Jakub (22.4.2020)</li>
            <li>Karpíšek Jan (28.4.2020)</li>
        </ol>
        <!--
        <p class="text-muted">Náhradníci:</p>
        <ol class="text-muted">
            <li></li>
        </ol>
        <p>&nbsp;</p>-->
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h4>COVID-19 - OPATŘENÍ</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">
            Z důvodu coronavirové pandemie jsou závodníci povinni, zejména při losování lovných
            míst a vyhlášení výsledků závodů, dodržovat aktuálně platná opatření Vlády ČR!
            (nošení roušek apod.)
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>O co hrajem</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left width-25">
            <img alt="Poháry" src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020/pohary.jpg"/>
        </p>
        <p class="text-muted">Přeci jen se jedná o závod a tak by měl mít i nějaké odměny. Podle uvedených pravidel bude stanoveno pořadí s pětice
            nejúspěšnějších se může těšit na následující ceny</p>
        <p class="text-muted text-center">
            1. místo <span class="font-weight-bold"> 10000 Kč + pohár</span><br/>
            2. místo <span class="font-weight-bold"> 5000 Kč + pohár</span><br/>
            3. místo <span class="font-weight-bold"> 3000 Kč + pohár</span><br/>
            4. místo <span class="font-weight-bold"> 2000 Kč</span><br/>
            5. místo <span class="font-weight-bold"> 1000 Kč</span><br/>
        </p>
    </div>
</div>
