<!-- Memorial Emila Jíchy - 3.ročník - výsledky -->

<div class="row" id="memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky">
    <div class="col-md-12">
        <h3 class="text-center text-uppercase">Memoriál Emila Jíchy - 3.ročník - výsledky</h3>
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/BMF_4531.jpg"/>
        </p>
        <p class="text-muted">Červen byl opět měsícem, kdy se konal další, již třetí, ročník Memoriálnu Emila Jíchy. Dovolím si říci, že se konal již tradičně na soukromém revíru
            Hruškov u Stříbrné Skalice. Loňská pravidla i výše odměn se nezměnila. Chytalo se jen na boilie a pelety. Partikl byl povolen jen na krmení. Stejně jako loni se bodoval
            jen kapr a amur přesahující váhu 5 kg, započteny byly tři nejtěžší ryby. Vyhlašovalo se prvních pět nejlepších lovců, první umístěný si odvezl pohár a odměnu 10000 Kč.
            Další v pořadí 5000 Kč, 3000 Kč, 2000 Kč a 1000 Kč.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Ladíme formu</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/BMF_4693.jpg"/>
        </p>
        <p class="text-muted">Ani letos nechyběl "seznamovací" večer, závodníci přijížděli brzy odpoledne a většina hned zamířila ke kiosku, aby uhasili žízel letního dne.
            Po občerstvení se někteří závodníci proměnili v rybáře a šli ladit formu k vodě. Ostatní se proměnili ve štamgasty a později i zpěváky a ladili formu u kiosku.</p>
        <p class="text-muted">Slunečné ráno věstilo, že závodníky čekají pěkně parné závody. Stínu na jednotlivých místech je jako šafránu a kdo si nepřinesl svůj, může litovat.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Losujeme</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/BMF_4660_1.jpg"/>
        </p>
        <p class="text-muted">Prezence a losování probíhalo od 9 hodin. Letos se tu sešlo celkem 28 bojovníků, což je o 9 více než loni. Proto bylo potřeba místa trochu zúžit. Ale na rozdíl
            od minulých let jsme měli zamluvený celý rybník včetně hráze a přilehlého roku. Hráz si rezervoval Standa, jako vedoucí závodu, aby měl vše pod dohledem.
            Na rohu rybníka u kiosku byly hned dvě místa, poslední končilo až na druhém konci u přítoku.</p>
        <p class="text-muted">Losování je za námi, všichni na značky. V 10 hodin začal krmný čas, na vodě se postupně začaly střídat krmící rakety všech možných barev i značek.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>11:00 KOULE (myšleno boilie) POD HÁČKY, ZAČÍNÁME</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/IMG-20200701-WA0001.jpg"/>
        </p>
        <p class="text-muted">A je to tady, po více jak roce opět začal kaprařský závod jako vzpomínka na Emila Jíchu, dlouholetého kamaráda, rybáře a předsedu
            naší organizace. Uvidíme, jak se ryby na dnešní den vyspaly. Uplynulá nezávodní noc moc nadějí nedávala, ale třeba nás rybí obsádka překvapí.
            Počasí předpovídá parný den, ale po uplynulých dvou letech si nedovolím předpovědět jak to s rybami bude.</p>
        <p class="text-muted">Rok co rok přichází záběry dřív a dřív. Neuplynula snad ani hodina od začátku závodu a je tu první jízda. Vypadá to, že opět budou
            bodovat hlavně rybáří v prostředním sektoru. V zadním sektoru zatím panuje klid a pohoda. Žádný stres, zda bude mít ryba alespoň požadovaných 5 kilo.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Parné a plodné odpoledne</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/IMG-20200701-WA0000.jpg"/>
        </p>
        <p class="text-muted">Slunce se nám přehouplo přes hlavu a neúnavně pálí. Postupem času se ryby začaly ukazovat blíž a blíž druhému břehu. Lovit je na kratší
            vzdálenost nebude lehké. A je tu první překvapení letošního závodu - na zadní louce se začínají dít divy. Dlouhé návazce přinášejí ovoce. Trochu krmení
            do rakety a za chvíli to jede. Většinou se jedná o amury mezi 6 a 8 kily. Výjimkou je jeden 10 kilový. Kluci jedou na bednu!</p>
        <p class="text-muted">A nejen zadní louka se dere na výsluní. Ryby berou průběžně po celém rybníce. Ještě že se do výsledků počítají jen ryby nad 5 kilo
            a z nich 3 nejtěžší, jinak by rozhodčí počítali ještě v pondělí.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Klidná noc - jak se to vezme</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/BMF_4618.jpg"/>
        </p>
        <p class="text-muted">Noc můžeme začít již soumrakem. Kluci na zadní louce hned za potokem stále jedou a možná se rozhoduje o stupních vítězů, ikdyž první místo se zda být jasné.
            Ale překvapení je ještě před námi.</p>
        <p class="text-muted">Během noci se začínají objevovat mraky a lehce po půl noci nás zkrápí malý deštím. Předposlední místo jako by čekalo na povel
            a spouští stíhací závod na stupně vítězů. Míra se během noci na tomto místě nezastaví.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Boj do posledního gramu</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/BMF_4659.jpg"/>
        </p>
        <p class="text-muted">Ráno je vlahé a všichni čekají na sluneční paprsky, aby jim uschnuly jejich ložnice. Ráno bývá již vlažnější. Ale přeci dokáže
            zamíchat konečným pořadím. Bojuje se o 5.místo. Jedna větší ryba může rozhodnout!</p>
        <p class="text-muted">A je to tady. Možná poslední jízda, ryba, která může potvrdit současné pořadí a 5.místo. Ale neděje se tak, další  průměrný kapřík mezi 6 a 7 kily.
            Odplata si nedává dlouho na čas a o místo vedle se rozezvučí hlásič. Ryba je podložce a váha ukazuje necelých 10 kilo. Toto bude těsné, budou rozhodovat gramy.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>11:00 KONEC, KOULE VEN</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/BMF_4664.jpg"/>
        </p>
        <p class="text-muted">Je dobojováno, rozhodčí si postupně sbírají úlovkové listy. Závodníci si začínají balit svá fidlátka a vyčkávají na vyhlášení výsledků.</p>
        <p class="text-muted">Všichni ke kiosku, nikoli na pivo. Jde se vyhlašovat. Vedoucí závodu Standa všem děkuje za účast. Letos se ryby činily, celkem bylo zapsáno 55 ryb.
            Na stole jsou připraveny poháry a finanční dary o celkové hodnotě 21000 Kč. Páté místo patří Honzovi Karpíškovi s úlovky o váze 29,2 kg, který poslední rybou smazal náskok
            Kubi Vrbenského o několik gramů. Na čtvrtém místě se umístil loňský vítěz Martin Procházka s úlovky o váze 35,88 kg. Následují stupně vítězů. Třetí místo patří
            Martinu Vyškovskému za bodované ryby o celkové váze 40,30 kg. Druhý se umístil, stejně jako loni, Zdeněk Mazanec s úlovky o celkové váze 42,86 kg. Vítězem se
            stal, loni bronzový, Pavel Harouš, jehož tři nějtěžší úlovky vážily 43,02 kg.</p>
        <p class="text-muted">Nejtěžší rybu ulovil Martin Procházka, lehce přes 17 kilo. Za to byl oceněn naším reprezentantem v lovu přívlačí Tomášem Jírovcem, který ho
            pozval na celodenní vláčku z lodi, takzvaně all-inclusive.</p>
        <p class="text-muted">Všem oceněným gratulujeme a ostatním děkujeme za účast a těšíme se viděnou příští rok. Kdo ještě nemá rybaření a nespěchá domů, může si ještě nahodit, zavláčet...</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Ještě závěrečné foto a na viděnou příští rok</h4>
        <p class="text-muted image-left width-100">
            <img src="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/BMF_4729.jpg"/>
        </p>
    </div>
</div>
<div class="gallery-definition" data-directory="akce/memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky/">
    <span>BMF_4479.jpg</span>
    <span>BMF_4482.jpg</span>
    <span>BMF_4483.jpg</span>
    <span>BMF_4484.jpg</span>
    <span>BMF_4492.jpg</span>
    <span>BMF_4494.jpg</span>
    <span>BMF_4496.jpg</span>
    <span>BMF_4506.jpg</span>
    <span>BMF_4508.jpg</span>
    <span>BMF_4514.jpg</span>
    <span>BMF_4515.jpg</span>
    <span>BMF_4526.jpg</span>
    <span>BMF_4529.jpg</span>
    <span>BMF_4530.jpg</span>
    <span>BMF_4531.jpg</span>
    <span>BMF_4532.jpg</span>
    <span>BMF_4534.jpg</span>
    <span>BMF_4536.jpg</span>
    <span>BMF_4539.jpg</span>
    <span>BMF_4541.jpg</span>
    <span>BMF_4542.jpg</span>
    <span>BMF_4543.jpg</span>
    <span>BMF_4550.jpg</span>
    <span>BMF_4551.jpg</span>
    <span>BMF_4553.jpg</span>
    <span>BMF_4555.jpg</span>
    <span>BMF_4558.jpg</span>
    <span>BMF_4560.jpg</span>
    <span>BMF_4562.jpg</span>
    <span>BMF_4563.jpg</span>
    <span>BMF_4564.jpg</span>
    <span>BMF_4565.jpg</span>
    <span>BMF_4570.jpg</span>
    <span>BMF_4571.jpg</span>
    <span>BMF_4573.jpg</span>
    <span>BMF_4575.jpg</span>
    <span>BMF_4576.jpg</span>
    <span>BMF_4578.jpg</span>
    <span>BMF_4580.jpg</span>
    <span>BMF_4584.jpg</span>
    <span>BMF_4585.jpg</span>
    <span>BMF_4589.jpg</span>
    <span>BMF_4592.jpg</span>
    <span>BMF_4593.jpg</span>
    <span>BMF_4597.jpg</span>
    <span>BMF_4600.jpg</span>
    <span>BMF_4605.jpg</span>
    <span>BMF_4606.jpg</span>
    <span>BMF_4608.jpg</span>
    <span>BMF_4609.jpg</span>
    <span>BMF_4613.jpg</span>
    <span>BMF_4616.jpg</span>
    <span>BMF_4618.jpg</span>
    <span>BMF_4619.jpg</span>
    <span>BMF_4620.jpg</span>
    <span>BMF_4621.jpg</span>
    <span>BMF_4622.jpg</span>
    <span>BMF_4624.jpg</span>
    <span>BMF_4626.jpg</span>
    <span>BMF_4627.jpg</span>
    <span>BMF_4628.jpg</span>
    <span>BMF_4630.jpg</span>
    <span>BMF_4634.jpg</span>
    <span>BMF_4635.jpg</span>
    <span>BMF_4636.jpg</span>
    <span>BMF_4639.jpg</span>
    <span>BMF_4640.jpg</span>
    <span>BMF_4643.jpg</span>
    <span>BMF_4646.jpg</span>
    <span>BMF_4647.jpg</span>
    <span>BMF_4648.jpg</span>
    <span>BMF_4654.jpg</span>
    <span>BMF_4658.jpg</span>
    <span>BMF_4659.jpg</span>
    <span>BMF_4660.jpg</span>
    <span>BMF_4661.jpg</span>
    <span>BMF_4664.jpg</span>
    <span>BMF_4665.jpg</span>
    <span>BMF_4666.jpg</span>
    <span>BMF_4669.jpg</span>
    <span>BMF_4674.jpg</span>
    <span>BMF_4681.jpg</span>
    <span>BMF_4684.jpg</span>
    <span>BMF_4686.jpg</span>
    <span>BMF_4688.jpg</span>
    <span>BMF_4690.jpg</span>
    <span>BMF_4691.jpg</span>
    <span>BMF_4692.jpg</span>
    <span>BMF_4693.jpg</span>
    <span>BMF_4695.jpg</span>
    <span>BMF_4696.jpg</span>
    <span>BMF_4700.jpg</span>
    <span>BMF_4701.jpg</span>
    <span>BMF_4707.jpg</span>
    <span>BMF_4715.jpg</span>
    <span>BMF_4718.jpg</span>
    <span>BMF_4721.jpg</span>
    <span>BMF_4722.jpg</span>
    <span>BMF_4724.jpg</span>
    <span>BMF_4729.jpg</span>
    <span>BMF_4733.jpg</span>
    <span>BMF_4739.jpg</span>
    <span>BMF_4742.jpg</span>
    <span>BMF_4746.jpg</span>
    <span>IMG-20200701-WA0000.jpg</span>
    <span>IMG-20200701-WA0001.jpg</span>
    <span>IMG-20200701-WA0004.jpg</span>
</div>