<!-- Memorial Emila Jíchy - 4.ročník - výsledky -->

<div class="row" id="memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky">
    <div class="col-md-12">
        <h3 class="text-center text-uppercase">Memoriál Emila Jíchy - 4.ročník - výsledky</h3>
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/BMF_3216.jpg"/>
        </p>
        <p class="text-muted">
            Rok se s rokem sešel a to skoro přesně. Je to 364 dní, co se konal třetí ročník Memoriálnu Emila Jíchy. Tradici se nevyplatí měnit a tak jsme se sešli
            opět na Hruškové u Stříbrné Skalice. Ani pravidla se nám letos nezměnila - chytáme boilie a pelety a krmit můžeme i partiklem. Jediná změna nastala u vyhlášení.
            Bude se vyhlašovat pět nejúspěšnějších lovců se třemi nějtěžšími rybami, započítávají se jen karp a amur, jejichž váha přesahuje 5 kg. První tři obdrží pohár
            a finanční odměnu, lovci na čtvrtém a pátek místě se musí spokojit jen s odměnou. Oproti předešlým letům přibyla kategorie o nejtěžší rybu závodu. Do této
            kategorie se započítávají všechny druhy ryb. Vítěz této kategorie se může těšit na finanční odměnu.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Probíráme taktiku</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/BMF_3369.jpg"/>
        </p>
        <p class="text-muted">Ačkoli závod začíná až v sobotu, je potřeba důkladná příprava a výběr taktiky. Ta se nejlépe probírá vychlazeného piva a zvuku kytary.
            Ale je pravda, že není od věci si prohlédnout i samotnou vodu a osahat si rybářské náčiní. Někdo tedy zůstal rovnou u kiosku, další se přesunuli ke svým bivakům
            a zkoušeli přemluvit nějakého zdejšího šupináčena a poslední skupinka se odebrala kontrolní odlov zdejších dravců.</p>
        <p class="text-muted">Ale nakonec se všichni probudili do mlžného rána a již netrpělivě vyhlíželi losování a samotný závod. Oproti loňsku počasí slibovalo příjemnější
            teploty, žádný pařák, lehký vánek...</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Taháme čísla</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/BMF_3506.jpg"/>
        </p>
        <p class="text-muted">Prezence a losování probíhá od 9 hodin, aby všichni měli dostatek času na přípravu před samotným nahozením. Letos bylo přihlášeno 30 rybářů,
            sice se někdo na poslední chvíli musel odhlásit, ale i tak hojná účast, což pořadatele těší a je vidět, že jste si tuto akci oblíbili. Rybník byl opět celý náš,
            hráz si rezervoval Standa, jako vedoucí závodu, aby měl opět vše pod dohledem. Závodní místa se táhla od rohu u kiosku až k rohu u přítoku.</p>
        <p class="text-muted">Závodní čísla pomalu mizí z osudí, někdo si odnáší své vysněné místo a další si stěžují, že budou mít daleko ke kiosku. Desátá hodina se blíží
            a s ní i čas hojnosti pro čekající hladové šupiny.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>11:00 PRUTY DO RUKY</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/BMF_3278.jpg"/>
        </p>
        <p class="text-muted">A žačínáme, 24 hodin pro Emila. Snad se bude dařit alespoň jako loni. Přípravná noc se nejvíce vydařila u kiosku, ale aspoň jsou závodníci odpočati.
            Sluníčko svítí, vítr pofukuje od západu a zatím převládá klid zbraní.</p>
        <p class="text-muted">První ryba se loni na podložce objevila okolo poledne. Pokud nebudeme bazírovat na minutách, tak i letos se podařil poledňák. Letos se první ryba ukázala
            blíže hrázi, na místě sedm. Rozjezd je to opět pozvolný, ale jak známe z předešlých ročníků, bývá tu mohutný finiš, ale určitě není dobré podcenit začátek.
            Loni se dařilo převáždě v prostředním sektoru.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Slunné odpoledne</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/BMF_3221.jpg"/>
        </p>
        <p class="text-muted">Oběd za námi, slunce svítí a ryby si dávají siestu - panuje poobědový klid. Jen občas jej naruší zvuk hlásiče. Díky větru se letos ryby tolik na hradině neukazují.
            Což má za následek, že dlouhé návazce nejsou tak účinné, jak tomu bylo loni.</p>
        <p class="text-muted">S přícházejícím podvečerem se vítr uklidňuje aktivita ryb se začíná zvyšovat. I závodníci vypadjí odpočatí a ryby začínají atakovat o 14 kilovou hranici.
            Zatím nikdo výrazně nevyčnívá ani nezaostává. Každá další ryba u kohokoli může s pořadím pořádně zamávat.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Vlhká noc</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/BMF_3307.jpg"/>
        </p>
        <p class="text-muted">S přicházející tmou se zvyšuje i vlhkost ve vzduchu, občas to vypadá, jako by mrholilo. To rybám nicméně nikterak nevadí a na místech okolo kiosku sbírají jako divé.
            Kluci hned za kioskem bude asi pro příští rok bojovat o snížení minimální hranice bodované ryby a naopak o zvýšení počtu započítaných ryb. Záběru mají nespočet, i na břech je dostanou, ale váha se pohybuje okolo bodované hranice.
        </p>
        <p class="text-muted">Letos se ryby přestěhovali na opačnou stranu rybníka, loni noc patřila výhradně přítoku.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Mohutný finiš</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted image-left">
            <img src="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/BMF_3352.jpg"/>
        </p>
        <p class="text-muted">
            Ráno se na rybníkem vznáší mlha, máme za sebou vlahou noc. Postupně začíná být noční klidná hladina minulostí, mlha se začíná rozpouštět a na vodě se začíná objevovat vlnky.
            Ryby se už začínají probouzet z nočního řádění a pomalu se chystají na snídani. Čas od času se ozve letmé píííp.
        </p>
        <p class="text-muted">
            Pomalu se začíná rýsovat konečné pořadí, v zákulisí se šušká, kdo jak skončí. Až kde se vzal tu se vzal, záběr okolo 15 závodního místa. Ryba vzdoruje, lovec se nedává.
            Po nelítostném boji se ozývá vítězný pokřiř. Bude to první a možná poslední "dvacka"? Ano, váha ukazuje lehce nad 21 kilo! Potvrzuje se, že jedna ryba může zamíchat pořadím!
            Předchozích necelých 19 kilo za dvě ryby by stačilo sotva na první desítku, teď tu máme adepta na zlatou placku.
        </p>
        <p class="text-muted">
            Mezitím pokračuje boj patrně už jen o další příčky. Dlouhé návazce se začínají prosazovat, Honza dostává na břeh krásného třináctiláka a Kuba, který se dosud trochu trápil, tahá jedno za druhý.
            Bohužel ne a ne přelstít nějakého zdějšího obra, který by ho katapultoval na medailové pozice.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>JEDENÁCTÁ HODINA ODBILA</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!--<p class="text-muted image-right">
            <img src="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/BMF_4664.jpg"/>
        </p>-->
        <p class="text-muted">Klání je u konce, rozhodčí začínají sčítat body. Rybáří postupně balí svoje náčiní a v duchu se vidí na bedně vítězů.</p>
        <p class="text-muted">Okolí kiosku se začíná plnit závodníky, jde se na vyhlášení. Vedoucí závodu Standa děkuje všem za účast. I letos se ryby činily, celkem bylo zapsáno 46 ryb, loni to bylo ještě o 9 více.
            Na stole čekají poháry pro nejúspěšnější lovce a finanční dary o celkové hodnotě 25000 Kč. Páté místo patří Zdeňkovi Mazancovi s úlovky o váze 29,05 kg, jeho nějtěžší ryba vážila 12,03 kg.
            Na čtvrtém místě se umístil Jirka Patlejch s úlovky o váze 30,83 kg, nejtěžší ryba vážila 12,08 kg. A jdeme na medaile.
            Třetí místo patří, stejně jako loni, Martinu Vyškovskému za ryby o celkové váze 33,01 kg, nej ryba vážila 12,18 kg.
            Druhý se umístil Honza Karpíšek s úlovky o celkové váze 36,69 kg a nejtěžší rybou o váze 13,12 kg.
            Vítězem se stal Lukáš Mazanec, jehož tři nějtěžší úlovky vážily 40,66 kg.</p>
        <p class="text-muted">Lukáš je zároveň i lovcem nejtěžší ryby závodu, kapra s váhou přes 21 kg. A pokud se nemýlím, jedná se první rybu přes 20 kilo v rámci všech čtyř ročníků.</p>
        <p class="text-muted">Všem oceněným gratulujeme a ostatním děkujeme za účast a těšíme se viděnou příští rok. Kdo ještě nemá rybaření a nespěchá domů, může si ještě nahodit, zavláčet...</p>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-12">
        <h4>Ještě závěrečné foto a na viděnou příští rok</h4>
        <p class="text-muted image-left width-100">
            <img src="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/BMF_4729.jpg"/>
        </p>
    </div>
</div>-->
<div class="gallery-definition" data-directory="akce/memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky/">
    <span>BMF_3213.jpg</span>
    <span>BMF_3214.jpg</span>
    <span>BMF_3216.jpg</span>
    <span>BMF_3217.jpg</span>
    <span>BMF_3221.jpg</span>
    <span>BMF_3222.jpg</span>
    <span>BMF_3224.jpg</span>
    <span>BMF_3229.jpg</span>
    <span>BMF_3230.jpg</span>
    <span>BMF_3232.jpg</span>
    <span>BMF_3233.jpg</span>
    <span>BMF_3238.jpg</span>
    <span>BMF_3239.jpg</span>
    <span>BMF_3242.jpg</span>
    <span>BMF_3245.jpg</span>
    <span>BMF_3246.jpg</span>
    <span>BMF_3248.jpg</span>
    <span>BMF_3250.jpg</span>
    <span>BMF_3252.jpg</span>
    <span>BMF_3253.jpg</span>
    <span>BMF_3255.jpg</span>
    <span>BMF_3258.jpg</span>
    <span>BMF_3262.jpg</span>
    <span>BMF_3264.jpg</span>
    <span>BMF_3269.jpg</span>
    <span>BMF_3274.jpg</span>
    <span>BMF_3278.jpg</span>
    <span>BMF_3283.jpg</span>
    <span>BMF_3284.jpg</span>
    <span>BMF_3285.jpg</span>
    <span>BMF_3291.jpg</span>
    <span>BMF_3296.jpg</span>
    <span>BMF_3302.jpg</span>
    <span>BMF_3304.jpg</span>
    <span>BMF_3307.jpg</span>
    <span>BMF_3310.jpg</span>
    <span>BMF_3313.jpg</span>
    <span>BMF_3317.jpg</span>
    <span>BMF_3320.jpg</span>
    <span>BMF_3321.jpg</span>
    <span>BMF_3323.jpg</span>
    <span>BMF_3324.jpg</span>
    <span>BMF_3328.jpg</span>
    <span>BMF_3334.jpg</span>
    <span>BMF_3337.jpg</span>
    <span>BMF_3339.jpg</span>
    <span>BMF_3341.jpg</span>
    <span>BMF_3342.jpg</span>
    <span>BMF_3344.jpg</span>
    <span>BMF_3346.jpg</span>
    <span>BMF_3352.jpg</span>
    <span>BMF_3356.jpg</span>
    <span>BMF_3357.jpg</span>
    <span>BMF_3358.jpg</span>
    <span>BMF_3363.jpg</span>
    <span>BMF_3366.jpg</span>
    <span>BMF_3367.jpg</span>
    <span>BMF_3369.jpg</span>
    <span>BMF_3370.jpg</span>
    <span>BMF_3372.jpg</span>
    <span>BMF_3374.jpg</span>
    <span>BMF_3378.jpg</span>
    <span>BMF_3379.jpg</span>
    <span>BMF_3382.jpg</span>
    <span>BMF_3384.jpg</span>
    <span>BMF_3386.jpg</span>
    <span>BMF_3389.jpg</span>
    <span>BMF_3395.jpg</span>
    <span>BMF_3397.jpg</span>
    <span>BMF_3409.jpg</span>
    <span>BMF_3413.jpg</span>
    <span>BMF_3415.jpg</span>
    <span>BMF_3417.jpg</span>
    <span>BMF_3423.jpg</span>
    <span>BMF_3426.jpg</span>
    <span>BMF_3428.jpg</span>
    <span>BMF_3432.jpg</span>
    <span>BMF_3435.jpg</span>
    <span>BMF_3439.jpg</span>
    <span>BMF_3442.jpg</span>
    <span>BMF_3452.jpg</span>
    <span>BMF_3453.jpg</span>
    <span>BMF_3455.jpg</span>
    <span>BMF_3460.jpg</span>
    <span>BMF_3464.jpg</span>
    <span>BMF_3466.jpg</span>
    <span>BMF_3468.jpg</span>
    <span>BMF_3469.jpg</span>
    <span>BMF_3471.jpg</span>
    <span>BMF_3478.jpg</span>
    <span>BMF_3479.jpg</span>
    <span>BMF_3484.jpg</span>
    <span>BMF_3489.jpg</span>
    <span>BMF_3497.jpg</span>
    <span>BMF_3499.jpg</span>
    <span>BMF_3501.jpg</span>
    <span>BMF_3506.jpg</span>
    <span>BMF_3510.jpg</span>
    <span>BMF_3515.jpg</span>
</div>