<!--=include header.html-->

    <!-- Organize -->
    <section id="organize">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Pořádáme pro vás</h2>
            <h3 class="section-subheading text-muted">Informace o akcích, které pořádáme nebo se na nich podílíme, jak akcích pro veřejnost, tak těch, kam máte přístup jenom Vy, naši členové.</h3>
          </div>
        </div>
          <!--=include actions/20211109-0940-memorial-emila-jichy-ctvrty-rocnik-26-06-2021-vysledky.html-->
          <!--=include article-delimiter.html-->
          <!--=include actions/20210418-2214-memorial-emila-jichy-ctvrty-rocnik-26-06-2021.html-->
          <!--=include article-delimiter.html-->
          <!--=include actions/20201126-1538-memorial-emila-jichy-treti-rocnik-27-06-2020-vysledky.html-->
          <!--=include link-to-archive.html-->
      </div>
    </section>

<!--=include footer.html-->