<!--=include header.html-->

    <!-- Organize -->
    <section id="organize">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Pořádáme pro vás</h2>
            <h3 class="section-subheading text-muted">Na stránce budou informace o akcích, které pořádáme nebo se na nich podílíme, jak akcích pro veřejnost, tak těch, kam máte přístup jenom vy, naši členové.</h3>
          </div>
        </div>
          <!--=include actions/20180308-1312-memorial-emila-jichy-prvni-rocnik-12-05-2018.html-->
          <!--=include link-to-archive.html-->
      </div>
    </section>

<!--=include footer.html-->