<!--=include header.html-->

    <!-- By the water -->
    <section id="by-the-water">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">U vody</h2>
            <h3 class="section-subheading text-muted">Prostě to, co jsme my nebo Vy prožili u vody.</h3>
          </div>
        </div>
          <!--=include by-the-water/20180525-1932-zahajeni-dyje-2018.html-->
          <!--=include link-to-archive.html-->
      </div>
    </section>

<!--=include footer.html-->