<!--=include header.html-->

    <!-- contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Jak nás kontaktovat</h2>
            <h3 class="section-subheading text-muted">Piště, volejte, lajkujte, jen povolenku Vám vydáme v klubovně.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 contact-box">
<!--
            <p>
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
              </span>
              <span class="font-weight-bold">Středa 17 - 19</span>
            </p>
-->
            <p>
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
              </span>
              <span class="font-weight-bold">Středa 17 - 19</span>
            </p>
            <p>
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-home fa-stack-1x fa-inverse"></i>
              </span>
              <span>Teplická 494, Praha 9 - Střížkov</span>
            </p>
            <p>
              <a href="mailto:emailAddress" target="_blank">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                  </span>
                <span>emailAddress</span>
              </a>
            </p>
            <p>
              <a href="tel:+420phoneNumber" target="_blank">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                  </span>
                <span>phoneNumber</span>
              </a>
            </p>
            <p>
              <a href="facebookURL" target="_blank">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                <span>www.facebook.com</span>
              </a>
            </p>
          </div>
          <div class="col-md-6">
            <p class="text-center">
              <iframe width="100%" height="275" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ3bTqW5_sC0cRnV7jmubOhj4&key=AIzaSyCFubtBHvlPgZDDmAl02xKRPKsKbXH_KBU" allowfullscreen></iframe>
            </p>
          </div>
        </div>
      </div>
    </section>

<!--=include footer.html-->