<!-- The Gallery Modal -->
<div id="gallery-modal">

    <!-- The Close Button -->
    <span class="gallery-button" id="gallery-close"><i class="fa fa-times"></i></span>
    <!-- The Left Button -->
    <span class="gallery-button" id="gallery-left"><i class="fa fa-angle-left"></i></span>
    <!-- The Right Button -->
    <span class="gallery-button" id="gallery-right"><i class="fa fa-angle-right"></i></span>

    <!-- Modal Content (The Image) -->
    <img id="gallery-content"/>

</div>

<div class="gallery-group hidden">
    <div class="row">
        <div class="col-lg-12">
            <p class="image-left image-row text-center">
                <img data-src="" class="gallery-image"/>
            </p>
            <p class="image-left image-row text-center">
                <img data-src="" class="gallery-image"/>
            </p>
            <p class="image-left image-row text-center">
                <img data-src="" class="gallery-image"/>
            </p>
        </div>
    </div>
    <div class="row gallery-group-show-hide-button hidden">
        <div class="col-lg-12 text-center">
            <button class="btn btn-primary"><i class="fa fa-image"></i>&nbsp;&nbsp;<span>Zobrazit</span><span class="hidden">Skrýt</span> galerii</button>
        </div>
    </div>
</div>