<!--=include header.html-->

    <!-- Organization -->
    <section id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Informační okénko</h2>
                    <h3 class="section-subheading text-muted">Provozní informace trvalejšího charakteru, jakou jsou ceny
                        povolenek a dalších poplatků, změny v rybářském řádu a soupisu revírů, závěry a usnesení členské schůze nebo výboru a případné další
                        informace, které se vám budou hodit.</h3>
                </div>
            </div>
            <!--=include operational-information/20210217-2216-obeznik-2021.html-->
            <!--=include article-delimiter.html-->
            <!--=include operational-information/20210217-2217-ceny-povolenek-2021.html-->
            <!--=include article-delimiter.html-->
            <!--=include operational-information/20180306-2020-denni-doba-lovu-2018.html-->
            <!--=include link-to-archive.html-->
        </div>
    </section>

<!--=include footer.html-->