<div class="row" id="rybarsky-krouzek">
    <div class="col-lg-12">
        <h3 class="text-center">Rybářský kroužek</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="image-left">
            <img src="deti/rybarsky-krouzek/20170923_090251.jpg"/>
        </p>
        <p class="text-muted">Naše organizace podporuje i začínající mladé rybářky a rybáře. Náš rybářský kroužek je zaměřen na obecné znalosti o přírodě, vodních tocích, na poznávání ryb i dalších živočichů, kteří se i vody vyskytují a dále na základy lovu na plavanou.</p>
        <p class="text-muted">Samozřejmě nejsme jen zavřeni v klubovně, to jen v době, kdy venku mrzne a padají trakaře. Jinak vyrážíme přímo do přírody, k vodě, s prutama i bez nich.</p>
        <p class="text-muted">Dětem se obvykle věnují dva až tři vedoucí. Všichni mají za sebou bohaté rybářské zkušenosti, které chtějí předat mladší generaci. Vedoucím je Viktor Cílek. Viktor vystudoval rybářskou školu a je tedy člověk na svém místě. Mimo čistě rybářské znalosti dětěm barvitě vypráví o tom, co se děje pod vodou, že i ryby potřebují kyslík a spoustu dalším informací, které se jen tak u počítače nedozvědí.</p>
        <p class="text-muted">Kroužek se koná přibližně dvakrát měsíčně, obvykle v sobotu dopoledne. Místo a čas se domlouvá operativně přes SMS, telefonicky, případně e-mailem. Kontakt na Viktora je <a href="tel:+420732217070">732 217 070</a>.</p>
    </div>
</div>
<div class="gallery-definition" data-directory="deti/rybarsky-krouzek/">
    <span>20170923_090251.jpg</span>
    <span>20170923_090516.jpg</span>
    <span>20180616_104107.jpg</span>
    <span>20160924_105835.jpg</span>
</div>