<div class="row" id="tabor-2021">
    <div class="col-lg-12">
        <h3 class="text-center">Rybářský tábor 2021</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="image-left">
            <img src="deti/tabor-2021/cropped-P7054902.jpg"/>
        </p>
        <p class="text-muted">I přes nelehkou situaci během posledního roku se najde světlá chvilka. Léto budou opět děti trávit u Sázavy. Ve spolupráci
            s Územním svazem města Prahy se i letos uskuteční již tradiční letní soustředění rybářské mládeže.</p>
        <p class="text-muted">Tábor je již tradiční naší letní akcí pro malé rybáře. Rybaříci se užijí nezapomenutelné chvíle s kamarády, kolegy rybaříky. Pod
            vedením našich vedoucích, zkušených rybářů, si zdokonalí své rybářské zkušenosti.</p>
        <p class="text-muted"> A nejen to, vedoucí již nepřetřžitě vymýšlí bohatý program celého
            tábora. Nebude chybět celotáborová hra, koupání v nedaleké pískovně, večery u táborového ohně i nějaké to sportovní vyžití. A jestli se podaří,
            tak by nás mohli opět navštívit naši přívlačoví reprezantanti.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Kde</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="text-muted">Tábor se bude konat <span class="font-weight-bold">na břehu řeky Sázavy, v obci Horka II</span>.</p>
        <p class="text-muted">Ti, co tu s námi ještě nebyli, Horka II leží v blízkosti města Zruč
            nad Sázavou, přibližně 60 km od hranice Prahy. Na toto místo jezdíme již několik let, takže okolí dobře známe. Rybaření je možné ihned v kempu
            na řece Sázavě nebo na blízké soukromé pískovně,kde se nacházení ryby trofejníc rozměrů.</p>
    </div>
    <div class="col-md-6">
        <p class="text-muted">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20634.643087115313!2d15.11082825071391!3d49.72340688041529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c5fb249e94cd7%3A0x400af0f661510c0!2s285+22+Horka+II!5e0!3m2!1scs!2scz!4v1521325010209"
                    width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Kdy</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">Tábor se uskuteční hned na začátku prázdnin, konkrétně <span class="font-weight-bold">od 3.7.2021 do 17.7.2021</span>.</p>
        <p class="text-muted">Odjíždí se tedy v sobotu 3.7.2021 ve 13:00 z parkoviště v ulici Litoměřická (100m na mototechnou, u kostela).</p>
        <p class="text-muted">Vracíme se také v sobotu, ale 17.7.2021 cca v 15:00, tedy podle dopravy na stejné místo, odkud jsme odjížděli.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Bližší informace</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted">Tábor má svoje webové stránky <a href="http://www.rybarsky-tabor.cz" target="_blank">www.rybarsky-tabor.cz</a> , kde jsou zveřejňovány průbězné
            informace, jak před samotným táborem, tak hlavně během něj.</p>
        <p class="text-muted">Aby se Vaše ratolest mohla zúčastit toto tohoto tábora, je nutné se přihlásit. Zde jsou veškeré dokumenty:</p>
        <ul class="text-muted">
            <li><a href="deti/tabor-2021/Prihlaska-na-LTM-2021.pdf" target="_blank">přihláška</a></li>
            <li><a href="deti/tabor-2021/Informace-pro-rodice-2021.pdf" target="_blank">veškeré informace</a></li>
        </ul>
    </div>
</div>